{% extends 'teacher/teacher_index.html' %}
{% block body %}

<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered">
    <tr>
        <td width="131" height="29">SI.NO</td>
      <td width="131" height="29">Feedback</td>
      <td width="65">Date</td>
      <td width="87">User info</td>
    </tr>
      {% for i in data %}
          <tr>
          <td>&nbsp;{{ loop.index }}</td>
      <td>&nbsp;{{ i['feedback'] }}</td>
      <td>{{ i['date'] }}</td>
      <td>{{ i['name'] }}</td>
    </tr>
      {% endfor %}
  </table>
</form>
{% endblock %}
