<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/Signup_post" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="357" border="1">
    <tr>
      <td width="91">First name</td>
      <td width="250"><input type="text" name="textfield" id="textfield" /></td>
    </tr>
{#    <tr>#}
{#      <td>Last name</td>#}
{#      <td><input type="text" name="textfield2" id="textfield2" /></td>#}
{#    </tr>#}
    <tr>
      <td>Gender</td>
      <td><input type="text" name="textfield3" id="textfield3" /></td>
    </tr>
    <tr>
      <td>Department</td>
      <td><select name="textfield4">
          {% for i in data %}
                <option value="{{ i['department_id'] }}">{{ i['department'] }}</option>
          {% endfor %}

      </select></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><input type="text" name="textfield5" id="textfield5" /></td>
    </tr>

    <tr>
      <td>Phone no</td>
      <td><input type="text" name="textfield7" id="textfield7" /></td>
    </tr>
    <td>
      <tr>
      <td height="97">place</td>
        <td><input type="text" name="textfield8" id="textfield8" /></td>
      </tr>
      <tr>
        <td>post</td>
        <td><input type="text" name="textfield9" id="textfield9" /></td>
      </tr>
      <tr>
        <td>pin</td>
      <td><input type="text" name="textfield10" id="textfield10" /></td>
    </tr>
    <tr>
      <td height="32"><div align="center">
        <p>Photo      </p>
      </div></td>
      <td><input type="file" name="fileField" id="fileField" /></td>
    </tr>
  </table>
  <table width="359" border="1">
    <tr>
      <td>Password</td>
      <td><input type="text" name="textfield11" id="textfield11" /></td>
    </tr>
    <tr>
      <td>Confirm password</td>
      <td><input type="text" name="textfield12" id="textfield12" /></td>
    </tr>
    <tr>
      <td colspan="2">    <div align="center">
        <input type="submit" name="button" id="button" value="Submit" />
      </div></td>
    </tr>
  </table>
</form>
</body>
</html>
