<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Trendy Signup Form Flat Responsive Widget Template :: w3layouts</title>
<!-- Custom Theme files -->
<link href="/static/signup/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!-- for-mobile-apps -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Trendy Signup Form Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!-- //for-mobile-apps -->
<!-- font-awesome icons -->
<link href="/static/web/css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome icons -->
<!--Google Fonts-->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
<script src="/static/signup/js/jquery-1.11.1.min.js"></script>
</head>
<body>
<div class="wthree-dot">
	<h1>Trendy Signup Form</h1>
	<div class="profile">
		<div class="wrap">
			<div class="wthree-grids">
				<div class="content-left">
				</div>
				<div class="content-main">
					<div class="w3ls-subscribe">
						<h4>New Customer?</h4>
						<form action="/Signup_post" method="post" enctype="multipart/form-data">
							<input type="text" name="textfield" placeholder="First Name" required="">
							<input type="text" name="textfield2" placeholder="Last Name" required="">
                            <input type="text" name="textfield3" placeholder="Gender" required="">

                            <select name="textfield4">
                                          <option style="color: #ffffff">Select A department</option>

          {% for i in data %}
                <option value="{{ i['department_id'] }}">{{ i['department'] }}</option>
          {% endfor %}

      </select>
							<input type="email" name="textfield5" placeholder="Email" required="">
                            <input type="text" name="textfield7" placeholder="Phone up" required="">
                            <input type="text" name="textfield8" placeholder="Place" required="">
                            <input type="text" name="textfield9" placeholder="Post" required="">
                            <input type="text" name="textfield10" placeholder="Pin" required="">
                            <input type="file" name="fileField" placeholder="Photo" required="">
							<input type="password" name="textfield11" placeholder="Password" required="">
							<input type="password" name="textfield12" placeholder="Confirm Password" required="">
							<input type="submit" value="Sign Up">
						</form>
					</div>
				</div>
				<div class="clear"> </div>
			</div>
			<div class="wthree_footer_copy">
				<p>© 2017 Trendy Signup Form. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
			</div>
		</div>
	</div>
</div>
<script src="/static/signup/js/responsiveslides.min.js"></script>
									<script>
										// You can also use "$(window).load(function() {"
										$(function () {
										  // Slideshow 4
										  $("#slider4").responsiveSlides({
											auto: true,
											pager:true,
											nav:false,
											speed: 400,
											namespace: "callbacks",
											before: function () {
											  $('.events').append("<li>before event fired.</li>");
											},
											after: function () {
											  $('.events').append("<li>after event fired.</li>");
											}
										  });
									
										});
									 </script>
									<!--banner Slider starts Here-->
</body>
</html>