<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><a href="/view_department">view department</a></td>
    </tr>
    <tr>
      <td><a href="/view_course">View course</a></td>
    </tr>
    <tr>
      <td><a href="/view_subject">view subject</a></td>
    </tr>

    <tr>
      <td><a href="/view_complaints">view complaints</a></td>
    </tr>
       <tr>
      <td><a href="/view_student">View student</a></td>
    </tr>
       <tr>
      <td><a href="/view_profile">View profile</a></td>
    </tr>
       <tr>
      <td><a href="/send_notification">Send notification</a></td>
    </tr>
       <tr>
      <td><a href="/view_notification">view notification</a></td>
    </tr>
      <tr>
      <td><a href="/send_complaint">Send complaint</a></td>
    </tr>
       <tr>
      <td><a href="/feedback">Feedback</a></td>
    </tr>


  </table>
</form>
</body>
</html>
