<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="303" border="1">
    <tr>
      <td width="37">Title</td>
      <td width="254"><input type="text" name="textfield" id="textfield" /></td>
    </tr>
    <tr>
      <td>File</td>
      <td><input type="file" name="fileField" id="fileField" /></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="button" id="button" value="Upload" />
      </div></td>
    </tr>
  </table>
</form>
</body>
</html>
