{% extends 'teacher/teacher_index.html' %}
{% block body %}


<form id="form1" name="form1" method="post" action="view_course_post">
  <table class="table table-bordered" >
    <tr>
      <td><input type="text"  class="form-control" name="textfield" id="textfield" /></td>
      <td><input type="submit" class="btn btn-outline-info" name="button" id="button" value="Search" /></td>
    </tr>
  </table>
  <table class="table table-bordered">
    <tr>
      <td width="41">Sl.no</td>
      <td width="87">Course</td>
      <td width="125">Department</td>
    </tr>
      {% for i in data %}



    <tr>

      <td>{{ loop.index }}</td>
      <td>{{ i['course'] }}</td>
      <td>{{ i['department'] }}</td>
    </tr>
       {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>

{% endblock %}
