{% extends 'admin/index.html' %}
{% block body %}


<form id="form1" name="form1" method="post" action="/addcourse_post">
  <table class="table table-bordered">
    <tr>
      <td>Department</td>
      <td><select name="select">
          {% for i in data %}
          <option value="{{ i['department_id'] }}">{{ i['department'] }}</option>
          {% endfor %}

      </select> </td>
    </tr>


    <tr>
      <td>Course</td>
      <td><input type="text" class="form-control" name="textfield2" id="textfield2" /></td>
    </tr>
      <tr>
      <td>sem</td>
      <td><input type="text" name="textfield4" id="textfield4" /></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" class="btn btn-success" name="button2" id="button2" value="Add" />
      </div></td>
    </tr>
  </table>
</form>%}
{% endblock %}

