<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><a href="/admin_adddepartment">add department</a></td>
    </tr>
    <tr>
      <td><a href="/admin_addcourse">add course</a></td>
    </tr>
    <tr>
      <td><a href="/admin_addsubject">add subject</a></td>
    </tr>
    <tr>
      <td><a href="/admin_viewdepartment">view department</a></td>
    </tr>
    <tr>
      <td><a href="/admin_viewcourse">view course</a></td>
    </tr>
    <tr>
      <td><a href="/admin_viewsubject">view subject</a></td>
    </tr>
    <tr>
      <td><a href="/admin_teacherverification">view teacher</a></td>
    </tr>
    <tr>
      <td><a href="/admin_studentverification">view student</a></td>
    </tr>
    <tr>
      <td><a href="/admin_viewcomplaints">view complaints</a></td>
    </tr>
    <tr>
      <td><a href="/admin_feedback">feedback</a></td>
    </tr>
  </table>
</form>
</body>
</html>
