<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/edit_department_post">
  <table width="289" border="1">
    <tr><input type="hidden" class="form-control" name="id" value="{{ data['department_id'] }}">
      <td>Department</td>
      <td><input type="text" class="form-control" name="textfield" id="textfield" value="{{ data['department'] }}"/></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit"class="btn btn-outline-success" name="button" id="button" value="update" />
      </div></td>
    </tr>
  </table>
</form>
</body>
</html>
