<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/reply_post">
  <table width="342" height="154" border="1">
    <tr><input type="hidden"name="cid"value="{{ id }}">
      <td width="332" height="107"><textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
    </tr>
    <tr>
      <td height="39"><div align="center">
        <input type="submit" name="button" id="button" value="Send" />
      </div></td>
    </tr>
  </table>
</form>
</body>
</html>
