<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/login_post">
  <table width="277" border="1">
    <tr>
      <td width="97">user name</td>
      <td width="168"><input type="text" name="textfield" id="textfield" /></td>
    </tr>
    <tr>
      <td>password</td>
      <td><input type="text" name="textfield2" id="textfield2" /></td>
    </tr>
    <tr>
        <td><a href="/Sign_up">New Teacher?Signup</a> </td>
      <td>
        <input type="submit" id="button" value="login" />
      </td>
    </tr>
  </table>
</form>
</body>
</html>
